* {
  margin: 0;
  padding: 0;
}

/*----------HEADER----------*/
nav {
  background-color: rgb(152, 214, 248);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid black;
}

nav ul li {
  display: inline-block;
  margin-right: 18px;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin-top: 13px;
}

nav a:hover {
  border-bottom: 2px solid #000000;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-img img {
  object-fit: cover;
  padding-left: 100px;
  display: inline-block;
  border-left: 20px solid white;
}

header nav h2 {
  margin-top: 10px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  position: relative;
}

header nav p {
  position: absolute;
  top: 39px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.text-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.text-subheader2 {
  margin-left: 15px;
  margin-top: 15px;
}

/*-------------COVER-IMAGE + TEXT---------------------*/
.header-img {
  position: relative;
  padding: 50px 210px;
  padding-left: 450px !important;
}

.text-cover {
  background-color: rgb(152, 214, 248);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px 50px;
  position: absolute;
  top: 312px;
  right: 520px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  line-height: 17px;
  padding: 20px;
}

/*---------MAIN--------*/
.main-text1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin-top: 65px;
  margin-right: 280px;
}

.main-text1 p {
  margin-top: 10px;
  margin-right: 300px;
}
.all-cards {
  margin-top: 15px;
  display: flex;
  width: 1600px;
  margin-left: 93px;
  justify-content: center;
}

.card {
  padding-right: 20px;
}

.card img:hover {
  width: 250px;
}

.card figure figcaption {
  text-align: center;
  background-color: rgb(215, 216, 218);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 4px solid rgb(197, 197, 197);
  box-shadow: 10px 10px rgb(152, 214, 248);
}

.button-container {
  display: inline-block;
  margin-top: 40px;
  margin-left: 850px;
}

.button1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: inline-block;
  background-color: rgb(152, 214, 248);
  border: 12px solid rgb(152, 214, 248);
  border-radius: 20px 20px;
}

.button1:hover {
  border: 2px solid black;
  padding: 12px;
}

.map {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 110px;
  text-align: center;
  margin-right: 10px;
}

.map h2 {
  border-right: 280px solid white;
  text-shadow: 1px 1px 1px rgb(65, 92, 106);
  color: #334954;
  margin-right: 190px;
  margin-left: 20px;
}
